body{
    /* background-color:yellow; */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-image: url("./peopleimg.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* scroll-behavior: ; */
      /* hjgbhhhjhjhj */

} 
.container{
    display: flex;
    align-content: center;
    justify-content: center;

}
.formwrapper{
    display: flex;
    width: 55%;
     height: 550px;
     background-color: yellowgreen;
     margin-top: 80px;
     border-radius: 10px;
     box-shadow: 0px 0px 20px black;

}
.formDiv{
/* display: flex; */
width: 50%;
padding: 8%;
background-color: lavender;
text-align: center;
border-radius: 10px 0px 0px 10px;

}
.formDiv h2{ 
    color: green;
    margin-top: -5px; 


}
.welcomeDiv{
width: 50%;
padding: 10px;
background-image: url("./tree3.jpg");
background-size: cover;
text-align: center;
color: white;
}
.welcomeDiv h1{
    margin-top: 150px;
}
.socialBtn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;

}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: lavender;
    margin: 5px;
    line-height: 30px;
    box-shadow: 0px 0px 10px black;
}
.text{
       font-size: small;

}
.orDiv{
    /* display: flex; */
    width: 10%;
    /* width: fit-content; */
    margin: 0 auto;
    background-color: lavender;
    position: relative;
    top: -16px;
    justify-content: center; 
}

.formGroup{
    width: 100%;
    position: relative;
}
.formGroup input{
    width: 93%;
    padding: 10px;
    margin-bottom: 5px;
}
.formGroup i{
    position: absolute;
    left: 10px;
    top: 12px;
    color: grey;
    font-size: smaller;

    
}

input::placeholder{
    position: relative;
    left: 20px;
}

.checkbox{
    width: 100%;
    margin-top: 2px;
}
.btn{
    width: 70%;
    padding: 15px;
    background-color: green;
    margin-top: 15px;
    color: lavender;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    
}
.btn2{
width: 70%;
padding: 15px;
background-color: transparent;
margin-top: 15px;
color: lavender;
border-radius: 20px; 
border-style: none;
border: 2px solid black;
cursor: pointer;
}
.btn:hover, .icon:hover, .btn2:hover{
    background-color: rgb(109, 50, 50);
}
@media screen and (max-width: 1000px){
    .formwrapper {
        width: 70%;
    }
}
@media screen and (max-width: 600px){
    .formDiv {
        width: 90%;
        border-radius: 10px 10px 10px 10px;
    }

    .welcomeDiv {
        display: none;
    }
}